@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.background{
    background: rgb(245, 245, 245);
}
main{
    background: rgb(245, 245, 245);
     margin-left:30px;
    margin-right:30px ; 
    padding-left: 140px;
    padding-right: 140px;
    
}
.title{
    color: rgb(14, 14, 14);
   font-family: Fira Sans;
   font-size: 24px;
   font-weight: 700;
   line-height: 38px;
   letter-spacing: 0%;
   text-align: left;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10;
    padding: 24px 160px 24px 160px;
}
.head-button:hover{
    /* box-sizing: border-box; */
    border: 1px solid rgb(0, 106, 80);
    border-radius: 6px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    padding: 4px 14px;
}
.banner-content{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     gap: 84;  
     padding: 80px 100px 80px 80px; 
    /* margin: 0px auto; */
}
#banner{ 
   /* width:1000px;
    height: 400px; */
    border-radius: 24px;
    background: rgb(198, 228, 214);
    /* padding-left: 120px; */
      
    /* margin: 20px 160px 80px 160px; */
    /* margin-left: 150px;
    margin-right: 100px; */
    margin-bottom:60px;
 } 
 .banner-title{
    
    color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 12px;
font-weight: 500;
 line-height: 10px;
letter-spacing: 0%;
text-align: left;
/* padding: 117px 64px ; */
padding-bottom:0px;

 }
 .content{
    /* width: 622px; */
     display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 12px;
padding:0px;
margin: 0 auto;
}
.banner-heading{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 42px;
font-weight: 700;
line-height: 46px;
letter-spacing: 0%;
text-align: left;
padding-top: 0px;

}
.banner-btn:hover{
    border-radius: 4px;
    background: rgb(0, 106, 80);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 38px;
    padding: 10px 28px 10px 28px;
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 10px;
font-weight: 600;
line-height: 15px;
letter-spacing: 0%;
text-align: left;
}
img{
    height: 270px;
    width: 350px;
    padding-left: 20px;
}
.card-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.card-design{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start; 
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 12px;
    background: rgb(255, 255, 255);
}
.card-design>img{
    height: 50px;
    width: 50px;
    padding-left: 0px;
}
.box-title{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 15px;
letter-spacing: 0%;
text-align: left;
}
.box-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;  
}
#image{ 
    height: 50px;
    width: 50px;
    padding-left: 0px;
 } 
.card-design1{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start; 
    gap: 5px;
    padding: 10px;
    border-radius: 12px;
    background: rgba(84, 144, 245, 0.2);
}
.card-design2{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start; 
    gap: 5px;
    padding: 10px;
    border-radius: 12px;
    background: rgb(247, 235, 207);
}
.card-design3{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start; 
    gap: 5px;
    padding: 10px;
    border-radius: 12px;
    background: rgb(198, 228, 214);
}
.box-content{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 12px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.box-btn1:hover{
    border-radius: 8px;
    background: rgb(84, 144, 245);
    padding: 7px 12px 7px 12px;
    color: rgb(255, 255, 255);
   font-family: Fira Sans;
   font-size: 12px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0%;
text-align: left;
}
.box-btn2:hover{
    border-radius: 8px;
    background: rgb(9, 161, 92);
    padding: 7px 12px 7px 12px;
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 162x;
font-weight: 600;
line-height: 16px;
letter-spacing: 0%;
text-align: left;
}
.box-btn3:hover{
    border-radius: 8px;
    background: rgb(255, 194, 57);
    padding: 7px 12px 7px 12px;
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 12px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0%;
text-align: left;
}
.box-heading{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
.box-pera{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}
.time{
    display: flex;
    gap: 40px;
}
.BD{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* gap: 32; */
    padding:30px;
    border-radius: 24px;
  background: rgb(255, 255, 255);
}
#image2{
   height: 30px;
   width: 100px;
   padding-left: 0px;
}
#image1{
    border-radius: 24px;
    
    background: url(../assets/satelite.png)   
}